"*":
  "atom-ide-ui":
    hyperclick:
      darwinTriggerKeys: "altKey"
    use: {}
  "base16-syntax":
    scheme: "Eighties"
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "linter-rubocop"
      "linter"
    ]
    packagesWithKeymapsDisabled: [
      "tree-view"
    ]
    projectHome: "~/Sites"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "base16-syntax"
    ]
    titleBar: "custom"
  "custom-app-icon": {}
  editor:
    fontFamily: "Source Code Pro"
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 2
  "exception-reporting":
    userId: "4bb57017-5a94-cc48-ad17-4f74adc8b456"
  "git-plus":
    general:
      _analyticsUserId: "06687862-4918-4037-8700-229d171f943d"
  "linter-js-standard":
    checkStyleDevDependencies: true
  "linter-rubocop":
    command: "/Users/christianhall/.rbenv/versions/2.2.1/bin/rubocop -R"
  "linter-ui-default":
    panelHeight: 69
  "one-dark-ui": {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
      isDisabledIfNotInPackageJson: true
      showInStatusBar: true
    prettierOptions:
      singleQuote: true
      trailingComma: "es5"
    useEslint: true
  "tree-view": {}
  "vim-mode":
    useClipboardAsDefaultRegister: false
  "vim-mode-plus": {}
  "vim-surround":
    surroundCommand: "S"
  welcome:
    showOnStartup: false
